# Git local collector
GIT_LOCAL_IDENTITIES="id1,id2,id3"
GIT_LOCAL_ROOTS="/path1,/path2,/path3" # absolute paths, avoid commas in paths

# GitHub collector
GITHUB_IDENTITIES="id1,id2,id3"
GITHUB_API_TOKEN="token"